[Desktop Entry]
Name=Versículo Diario Personal
Comment=Muestra un versículo bíblico favorito y personalizado al iniciar la sesión.
Exec=/usr/bin/python3 /home/betu/Mostrar_versiculo.py
Icon=com.betu.VersiculoDiario
Terminal=false
Type=Application
Categories=Utility;Education;
X-GNOME-Autostart-enabled=true
