[Desktop Entry]
Name=Presentador Bíblico
Comment=Visualización de versículos bíblicos
Exec=App.sh
Icon=com.betu.VersiculoDiario
Terminal=false
Type=Application
Categories=Utility;Education;
